@font-face {
    font-family: libre;
    src: url(./fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf);
}
@font-face {
    font-family: caro;
    src: url(./fonts/carolingia-bigfoot/CAROBTN_.TTF);
}
@font-face {
    font-family: playfair;
    src: url(./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins/Poppins-Light.ttf);
}

:root{

    --dark: #d31717;
    --dark-medium:#a6baba;
    --light-medium:  rgb(25, 221, 162);
    --light: rgb(255, 247, 235);
}

html{
    height: 100vh;
    overflow: hidden;
    background-color: var(--light);
}




/*HEADER*/
header{
    position: absolute;
    width: 100vw;
    height: 60px;
    opacity: 100%;
    top: 0px;
}

nav{
    width: 100vw;
}


ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content:space-around; 
}


#logo{
font-family: "ivypresto-display", serif;
font-weight: 100;
font-style: normal;
font-size: 3rem;
color: #ffffff;
} 


a{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: poppins;
    font-weight: 100;
    font-style: normal;
    color: #ffffff;
}

a:hover{
    transition: all ease-in-out 100ms;


    cursor: pointer;
}


/*BODY*/

body{
    width: 100vw;
    height: 100vh;
    margin: 0;

    overflow-x: hidden;
    overflow-y: scroll;
}




/* Front Page */
.front-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}


.front-page .right-side{
    background-image: url(./images/original\ low\ res.jpg);
    background-position: right center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 50%;
}

.front-page .left-side{

    width: 50%;
    background-color: #fb9b20;
    text-align: center;
}


button{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: white;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5rem;
}

.front-page .left-side h3{
    color: white;
    font-size: 4rem;
    font-family: ivypresto-display, serif;
    font-weight: 500;
    font-style: normal;

    text-align: center;
    padding-top: 25%;
}

.button-text{
    color: white;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
}

.front-page .left-side h4{
    font-family: poppins;
    font-style: italic;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
}

.front-page .left-side h5{
 margin-top: 12vh;
}

/*SECOND PAGE*/
.second-page{

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;

}

.second-page .left-side{
    width: 50%;
    background-position: right center;
    background-size:cover;
    background-repeat: no-repeat;
}
.second-page .right-side{
    background-color: #fb9b20;
    width: 50%;
    color: white;
    font-family: poppins;
    font-weight: 0;
    font-size: 1.5rem;
    text-align: center;
    
}

.second-page .right-side p{
    margin-top: 35%;
    padding-inline: 10%;

}

.topnav #myLinks{
  display: none;
}

.topnav .icon{
    display: none;
}

@media only screen and (max-width: 1243px) {
    nav{
        display: none;
    }


/* MOBILE NAV TEST */


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background: transparent;
  position: absolute;
    right: 6vw;
    top: 0.2%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
    background-color: #fb9c2055;
    cursor: pointer;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: transparent;
  display: block;
  position:fixed;
  right: 3vw;
  top: 0;
}



/* MOBILE NAV TEST END*/
}
